In [1]:
import pandas as pd
import numpy as np

In [2]:
Airport_operations_04_14 = './assets/_ATADS - Airport Operations 2004-2015.csv'
Airport_passengers_04_14 = './assets/_Passenger Boarding 2004-2014.csv'
Airport_cargo_04_14 = './assets/_Cargo.csv'
Airport_operations = './assets/Airport_operations.csv'

Airport_operations_df = pd.read_csv(Airport_operations)
Airport_operations_04_14_df = pd.read_csv(Airport_operations_04_14)
Airport_passengers_04_14_df = pd.read_csv(Airport_passengers_04_14)
Airport_cargo_04_14_df = pd.read_csv(Airport_cargo_04_14)


print 'Airport_operations_df  :', Airport_operations_df.shape
print '-----------------------------------------------------------'
print 'Airport_operations_04_14_df  :', Airport_operations_04_14_df.shape
print '-----------------------------------------------------------'
print 'Airport_passengers_04_14_df  :', Airport_passengers_04_14_df.shape
print '-----------------------------------------------------------'
print 'Airport_cargo_04_14_df  :', Airport_cargo_04_14_df.shape

Airport_operations_df  : (841, 15)
-----------------------------------------------------------
Airport_operations_04_14_df  : (6623, 11)
-----------------------------------------------------------
Airport_passengers_04_14_df  : (1558, 21)
-----------------------------------------------------------
Airport_cargo_04_14_df  : (133, 22)

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Timing and Delays*

In [3]:
Airport_operations_df.head()

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay
0,ABQ,2004,53971,53818,0.8030,0.7809,0.7921,10.38,9.89,2.43,12.10,2.46,0.83,2.55,10.87
1,ABQ,2005,51829,51877,0.8140,0.7922,0.8001,9.60,9.79,2.29,11.20,2.26,0.89,2.34,10.24
2,ABQ,2006,49682,51199,0.7983,0.7756,0.7746,10.84,9.89,2.16,12.33,2.12,0.84,2.66,11.82
3,ABQ,2007,53255,53611,0.8005,0.7704,0.7647,11.29,10.34,2.40,12.95,2.19,1.29,3.06,12.71
4,ABQ,2008,49589,49512,0.8103,0.7844,0.7875,10.79,10.41,2.41,12.32,1.82,1.03,2.79,11.48

In [4]:
len(Airport_operations_df.airport.unique())

77

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Count of Operations*

Columns to be used from this dataframe will be Facility, Calander Year, Total Operations.

In [5]:
Airport_operations_04_14_df.columns

Index([u'Facility', u'Calendar Year', u'Itinerant Air Carrier',
       u'Itinerant Air Taxi', u'Itinerant General Aviation',
       u'Itinerant Military', u'Itinerant Total', u'Local Civil',
       u'Local Military', u'Local Total', u'Total Operations'],
      dtype='object')

In [6]:
airport_operations_04_14_df = Airport_operations_04_14_df[['Facility', 'Calendar Year', 'Itinerant Total', 'Total Operations']]
airport_operations_04_14_df.rename(columns={'Facility':'Airport', 'Calendar Year':'year'}, inplace=True)
airport_operations_04_14_df.head()

C:\Users\ali\Anaconda2\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

  Airport    year Itinerant Total Total Operations
0     ABE  2004.0          98,827          133,098
1     ABE  2005.0          90,413          126,232
2     ABE  2006.0          83,162          121,773
3     ABE  2007.0          75,504          120,565
4     ABE  2008.0          67,659          118,258

In [7]:
airport_operations_04_14_df.tail(5)

,Airport,year,Itinerant Total,Total Operations
6618,Total:,NaN,"488,807,359","658,823,891"
6619,NaN,NaN,NaN,NaN
6620,Report created on Tue Feb 14 13:05:59 EST 2017,NaN,NaN,NaN
6621,Sources: Air Traffic Activity System (ATADS),NaN,NaN,NaN
6622,Show data notices.,NaN,NaN,NaN

In [8]:
airport_operations_04_14_df = airport_operations_04_14_df.drop([6618,6619,6620,6621,6622])
print airport_operations_04_14_df.shape

(6618, 4)

In [9]:
for i, cell in enumerate(airport_operations_04_14_df.Airport):
    if 'Sub-Total' in cell:
        airport_operations_04_14_df = airport_operations_04_14_df.drop(i)
print airport_operations_04_14_df.shape

(6092, 4)

In [10]:
airport_operations_04_14_df.year = airport_operations_04_14_df.year.astype(int)

In [11]:
len(airport_operations_04_14_df.Airport.unique())

526

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Number of Passengers per Year*

https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/passenger/

Passenger boardings at airports that receive scheduled passenger service are referred to as Enplanements.

In [12]:
Airport_passengers_04_14_df.columns

Index([u'Rank', u'RO', u'ST', u'Locid', u'City', u'Airport Name', u'S/L',
       u'Hub', u'04-14 Percentage', u'Total Enplanements',
       u'CY 14 Enplanements', u'CY 13 Enplanements', u'CY 12 Enplanements',
       u'CY 11 Enplanements', u'CY 10 Enplanements', u'CY 09 Boardings',
       u'CY 08 Boardings', u'CY2007 Enplanements', u'CY 2006 Enplanements',
       u'CY 05 Enplanements', u'CY 04 Enplanements'],
      dtype='object')

In [13]:
Airport_passengers_04_14_df['Hub'].unique()

array(['L', 'M', 'S', 'N', 'None', nan], dtype=object)

#### Hub Type: Percentage of Annual Passenger Boardings

* Large Hub: “large hub airport” means a commercial service airport that has at least 1.0 percent of the passenger boardings.
* Medium Hub: “medium hub airport” means a commercial service airport that has at least 0.25 percent but less than 1.0 percent of the passenger boardings.
* Small Hub: “small hub airport” means a commercial service airport that has at least 0.05 percent but less than 0.25 percent of the passenger boardings.
* Nonhub Primary: “nonhub airport” means a commercial service airport that has less than 0.05 percent of the passenger boardings.

https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/categories/

In [14]:
print Airport_passengers_04_14_df.head(1)

   Rank  RO  ST Locid     City                                Airport Name  \
0   1.0  SO  GA   ATL  Atlanta  Hartsfield - Jackson Atlanta International

  S/L Hub 04-14 Percentage Total Enplanements         ...          \
0   P   L               6%        479,413,675         ...

  CY 13 Enplanements CY 12 Enplanements CY 11 Enplanements  \
0         45,308,407         45,798,928         44414121.0

   CY 10 Enplanements  CY 09 Boardings  CY 08 Boardings  CY2007 Enplanements  \
0          43130585.0       42280868.0       43761280.0           43236665.0

   CY 2006 Enplanements  CY 05 Enplanements  CY 04 Enplanements
0            41352038.0          42402653.0          41123857.0

[1 rows x 21 columns]

In [24]:
airport_passengers_04_14_temp_df = Airport_passengers_04_14_df.drop(['Rank', 'RO', 'ST', 'City', 'Airport Name',\
                                                                     'S/L', 'Hub', '04-14 Percentage',\
                                                                     'Total Enplanements'],axis=1)
airport_passengers_04_14_temp_df.columns = ['Locid', '14_Psngr', '13_Psngr', '12_Psngr', '11_Psngr', '10_Psngr',\
                                            '09_Psngr', '08_Psngr', '07_Psngr', '06_Psngr', '05_Psngr', '04_Psngr']
airport_passengers_04_14_temp_df[['14_Psngr','13_Psngr', '12_Psngr', '11_Psngr', '10_Psngr', '09_Psngr',\
                                        '08_Psngr', '07_Psngr', '06_Psngr', '05_Psngr', '04_Psngr']] = \
airport_passengers_04_14_temp_df[['04_Psngr','05_Psngr', '06_Psngr', '07_Psngr', '08_Psngr', '09_Psngr',\
                                        '10_Psngr', '11_Psngr', '12_Psngr', '13_Psngr', '14_Psngr']]
airport_passengers_04_14_temp_df.columns = ['Locid', '04_Psngr','05_Psngr', '06_Psngr', '07_Psngr',\
                                            '08_Psngr', '09_Psngr', '10_Psngr', '11_Psngr', '12_Psngr',\
                                            '13_Psngr', '14_Psngr']
print airport_passengers_04_14_temp_df.shape
airport_passengers_04_14_temp_df.head()

(1558, 12)

,Locid,04_Psngr,05_Psngr,06_Psngr,07_Psngr,08_Psngr,09_Psngr,10_Psngr,11_Psngr,12_Psngr,13_Psngr,14_Psngr
0,ATL,41123857.0,42402653.0,41352038.0,43236665.0,43761280.0,42280868.0,43130585.0,44414121.0,"45,798,928","45,308,407","46,604,273"
1,LAX,28925341.0,29372272.0,29357327.0,30113985.0,28861477.0,27439897.0,28857755.0,30528737.0,31326268,32425892,"34,314,197"
2,ORD,36100147.0,36720005.0,36825097.0,36521585.0,33683991.0,31135732.0,32171831.0,31892301.0,32171795,32317835,"33,843,426"
3,DFW,28063035.0,28079147.0,28627749.0,28482417.0,27219285.0,26663984.0,27100656.0,27518358.0,28022904,29038128,"30,804,567"
4,JFK,18586863.0,20260359.0,21071501.0,23401351.0,23620948.0,22710272.0,22934047.0,23664832.0,24520981,25036358,"26,244,928"

In [25]:
passenger_col = []
airport_col = []
year = []
years = ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']
for i in range(1558):
    row = list(airport_passengers_04_14_temp_df.ix[i][1:])
    passenger_col = np.concatenate((passenger_col, row))
    airport = [airport_passengers_04_14_temp_df.ix[i][0]]*11
    airport_col = np.concatenate((airport_col, airport))
    year = np.concatenate((year, years))
passenger_data = [airport_col, year, passenger_col]
airport_passengers_04_14_df = pd.DataFrame(passenger_data, index=('Airport', 'year', 'passengers')).T
print airport_passengers_04_14_df.shape
airport_passengers_04_14_df.head()

(17138, 3)

  Airport  year  passengers
0     ATL  2004  41123857.0
1     ATL  2005  42402653.0
2     ATL  2006  41352038.0
3     ATL  2007  43236665.0
4     ATL  2008  43761280.0

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Cargo Landed (lbs)*

https://www.faa.gov/airports/planning_capacity/passenger_allcargo_stats/passenger/

In [26]:
Airport_cargo_04_14_df.columns

Index([u'Rank', u'FAA Region', u'ADO', u'ST', u'Locid', u'Airport Name',
       u'City', u'Service Level', u'Hub', u'2004-2014 Percentage',
       u'2004-2014 (lbs)', u'2014 (lbs)', u'2013 (lbs)', u'2012 (lbs)',
       u'2011 (lbs)', u'2010 (lbs)', u'2009 (lbs)', u'2008 (lbs)',
       u'2007 (lbs)', u'2006 (lbs)', u'2005 (lbs)', u'2004 (lbs)'],
      dtype='object')

In [27]:
Airport_cargo_04_14_df.head(1)

,Rank,FAA Region,ADO,ST,Locid,Airport Name,City,Service Level,Hub,2004-2014 Percentage,...,2013 (lbs),2012 (lbs),2011 (lbs),2010 (lbs),2009 (lbs),2008 (lbs),2007 (lbs),2006 (lbs),2005 (lbs),2004 (lbs)
0,1.0,SO,MEM,TN,MEM,Memphis International,Memphis,P,M,14%,...,"21,891,425,638","20,983,699,672","20,303,149,106","19,544,635,833","18,928,729,202","� 19,500,093,674","� 19,543,815,307","18,849,280,923","18,686,994,805","17,770,916,917"

In [28]:
airport_cargo_04_14_temp_df = Airport_cargo_04_14_df.drop(['Rank', 'FAA Region', 'ADO', 'ST', 'City',\
                                                          'Airport Name', 'Service Level', 'Hub',\
                                                          '2004-2014 Percentage', '2004-2014 (lbs)'],axis=1)

airport_cargo_04_14_temp_df['2008 (lbs)'] = airport_cargo_04_14_temp_df['2008 (lbs)'].str.replace('\xa0 ', '')
airport_cargo_04_14_temp_df['2007 (lbs)'] = airport_cargo_04_14_temp_df['2007 (lbs)'].str.replace('\xa0 ', '')

In [29]:
airport_cargo_04_14_temp_df.head()

,Locid,2014 (lbs),2013 (lbs),2012 (lbs),2011 (lbs),2010 (lbs),2009 (lbs),2008 (lbs),2007 (lbs),2006 (lbs),2005 (lbs),2004 (lbs)
0,MEM,"22,774,592,279","21,891,425,638","20,983,699,672","20,303,149,106","19,544,635,833","18,928,729,202","19,500,093,674","19,543,815,307","18,849,280,923","18,686,994,805","17,770,916,917"
1,ANC,"15,867,941,046","15,982,410,652","16,522,948,234","17,774,071,223","19,463,543,790","15,524,360,013","17,951,597,580","21,124,325,138","21,175,636,186","20,727,877,604","19,688,767,251"
2,SDF,"11,568,369,154","11,264,596,650","11,096,369,031","10,981,281,067","10,637,700,120","10,278,035,711","10,445,498,827","10,431,225,402","10,029,513,073","9,182,114,119","8,776,615,605"
3,MIA,"7,192,790,882","6,847,177,300","7,147,983,325","6,634,448,852","6,905,291,871","6,352,786,009","6,988,513,672","7,430,213,907","7,181,475,239","7,100,687,646","6,846,697,712"
4,ORD,"7,541,411,779","6,864,249,348","4,555,097,891","4,368,420,500","4,895,940,100","3,499,701,350","4,206,916,900","4,401,472,100","4,415,852,850","4,824,115,650","4,718,128,700"

In [30]:
airport_cargo_04_14_temp_df.columns = ['Locid', '14_Cargo', '13_Cargo', '12_Cargo', '11_Cargo', '10_Cargo',\
                                       '09_Cargo', '08_Cargo', '07_Cargo', '06_Cargo', '05_Cargo', '04_Cargo']
airport_cargo_04_14_temp_df[['14_Cargo', '13_Cargo', '12_Cargo', '11_Cargo', '10_Cargo',\
                                       '09_Cargo', '08_Cargo', '07_Cargo', '06_Cargo', '05_Cargo', '04_Cargo']] =\
airport_cargo_04_14_temp_df[['04_Cargo','05_Cargo', '06_Cargo', '07_Cargo', '08_Cargo', '09_Cargo',\
                                        '10_Cargo', '11_Cargo', '12_Cargo', '13_Cargo', '14_Cargo']]
airport_cargo_04_14_temp_df.columns = ['Airport', '04_Cargo','05_Cargo', '06_Cargo', '07_Cargo', '08_Cargo',\
                                       '09_Cargo', '10_Cargo', '11_Cargo', '12_Cargo', '13_Cargo', '14_Cargo']


print airport_cargo_04_14_temp_df.shape
airport_cargo_04_14_temp_df.head()

(133, 12)

,Airport,04_Cargo,05_Cargo,06_Cargo,07_Cargo,08_Cargo,09_Cargo,10_Cargo,11_Cargo,12_Cargo,13_Cargo,14_Cargo
0,MEM,"17,770,916,917","18,686,994,805","18,849,280,923","19,543,815,307","19,500,093,674","18,928,729,202","19,544,635,833","20,303,149,106","20,983,699,672","21,891,425,638","22,774,592,279"
1,ANC,"19,688,767,251","20,727,877,604","21,175,636,186","21,124,325,138","17,951,597,580","15,524,360,013","19,463,543,790","17,774,071,223","16,522,948,234","15,982,410,652","15,867,941,046"
2,SDF,"8,776,615,605","9,182,114,119","10,029,513,073","10,431,225,402","10,445,498,827","10,278,035,711","10,637,700,120","10,981,281,067","11,096,369,031","11,264,596,650","11,568,369,154"
3,MIA,"6,846,697,712","7,100,687,646","7,181,475,239","7,430,213,907","6,988,513,672","6,352,786,009","6,905,291,871","6,634,448,852","7,147,983,325","6,847,177,300","7,192,790,882"
4,ORD,"4,718,128,700","4,824,115,650","4,415,852,850","4,401,472,100","4,206,916,900","3,499,701,350","4,895,940,100","4,368,420,500","4,555,097,891","6,864,249,348","7,541,411,779"

In [31]:
cargo_col = []
airport_col = []
year = []
years = ['2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014']
for i in range(133):
    row = list(airport_cargo_04_14_temp_df.ix[i][1:])
    cargo_col = np.concatenate((cargo_col, row))
    airport = [airport_cargo_04_14_temp_df.ix[i][0]]*11
    airport_col = np.concatenate((airport_col, airport))
    year = np.concatenate((year, years))
cargo_data = [airport_col, year, cargo_col]
airport_cargo_04_14_df = pd.DataFrame(cargo_data, index=('Airport', 'year', 'cargo')).T
print airport_cargo_04_14_df.shape
airport_cargo_04_14_df.head()

(1463, 3)

  Airport  year           cargo
0     MEM  2004  17,770,916,917
1     MEM  2005  18,686,994,805
2     MEM  2006  18,849,280,923
3     MEM  2007  19,543,815,307
4     MEM  2008  19,500,093,674

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Merged Data*

In [32]:
print len(Airport_operations_df['airport'].unique())
print Airport_operations_df.shape
Airport_operations_df.head()

77
(841, 15)

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay
0,ABQ,2004,53971,53818,0.8030,0.7809,0.7921,10.38,9.89,2.43,12.10,2.46,0.83,2.55,10.87
1,ABQ,2005,51829,51877,0.8140,0.7922,0.8001,9.60,9.79,2.29,11.20,2.26,0.89,2.34,10.24
2,ABQ,2006,49682,51199,0.7983,0.7756,0.7746,10.84,9.89,2.16,12.33,2.12,0.84,2.66,11.82
3,ABQ,2007,53255,53611,0.8005,0.7704,0.7647,11.29,10.34,2.40,12.95,2.19,1.29,3.06,12.71
4,ABQ,2008,49589,49512,0.8103,0.7844,0.7875,10.79,10.41,2.41,12.32,1.82,1.03,2.79,11.48

In [33]:
print len(airport_operations_04_14_df['Airport'].unique())
print airport_operations_04_14_df.shape
airport_operations_04_14_df.head()

526
(6092, 4)

  Airport    year Itinerant Total Total Operations
0     ABE  2004.0          98,827          133,098
1     ABE  2005.0          90,413          126,232
2     ABE  2006.0          83,162          121,773
3     ABE  2007.0          75,504          120,565
4     ABE  2008.0          67,659          118,258

In [34]:
print len(airport_passengers_04_14_df['Airport'].unique())
print airport_passengers_04_14_df.shape
airport_passengers_04_14_df.head()

1558
(17138, 3)

  Airport  year  passengers
0     ATL  2004  41123857.0
1     ATL  2005  42402653.0
2     ATL  2006  41352038.0
3     ATL  2007  43236665.0
4     ATL  2008  43761280.0

In [35]:
print len(airport_cargo_04_14_df['Airport'].unique())
print airport_cargo_04_14_df.shape
airport_cargo_04_14_df.head()

133
(1463, 3)

  Airport  year           cargo
0     MEM  2004  17,770,916,917
1     MEM  2005  18,686,994,805
2     MEM  2006  18,849,280,923
3     MEM  2007  19,543,815,307
4     MEM  2008  19,500,093,674

#### Check missing cargo only airports in passenger airports

In [36]:
aprt_pass = airport_passengers_04_14_df['Airport'].unique()
aprt_cargo = airport_cargo_04_14_df['Airport'].unique()

In [37]:
count = 0
for apcargo in aprt_cargo:
    if apcargo not in aprt_pass:
        print apcargo
        count += 1

GUP
TCC

In [46]:
airport_cargo_04_14_df[airport_cargo_04_14_df['Airport'] == 'TCC']

     Airport  year      cargo
1397     TCC  2004        nan
1398     TCC  2005        nan
1399     TCC  2006        nan
1400     TCC  2007        nan
1401     TCC  2008        nan
1402     TCC  2009        nan
1403     TCC  2010        nan
1404     TCC  2011  1,424,800
1405     TCC  2012  1,772,400
1406     TCC  2013          0
1407     TCC  2014  1,419,050

#### These two airports do not have significant amount of operations, so we can dump them.

## Merging

In [120]:
passenger_cargo_year = pd.merge(airport_passengers_04_14_df, airport_cargo_04_14_df, how='left', on=['Airport', 'year'])
print passenger_cargo_year.shape
passenger_cargo_year.year = passenger_cargo_year.year.astype(int)
passenger_cargo_year

(17138, 4)

      Airport  year  passengers           cargo
0         ATL  2004  41123857.0   2,324,818,996
1         ATL  2005  42402653.0   2,027,135,114
2         ATL  2006  41352038.0   2,359,704,572
3         ATL  2007  43236665.0   2,522,600,500
4         ATL  2008  43761280.0   2,334,922,810
5         ATL  2009  42280868.0   2,555,242,350
6         ATL  2010  43130585.0   2,628,040,410
7         ATL  2011  44414121.0   2,655,614,700
8         ATL  2012  45,798,928   2,027,932,736
9         ATL  2013  45,308,407   2,187,228,002
10        ATL  2014  46,604,273   2,262,892,910
11        LAX  2004  28925341.0   6,124,386,480
12        LAX  2005  29372272.0   5,853,276,500
13        LAX  2006  29357327.0   7,253,305,000
14        LAX  2007  30113985.0   6,861,236,224
15        LAX  2008  28861477.0   5,751,595,501
16        LAX  2009  27439897.0   3,768,864,700
17        LAX  2010  28857755.0   3,954,810,091
18        LAX  2011  30528737.0   4,043,122,100
19        LAX  2012    31326268   4,204,996,790
20        LAX  2013    32425892   4,199,375,809
21        LAX  2014  34,314,197   4,297,359,912
22        ORD  2004  36100147.0   4,718,128,700
23        ORD  2005  36720005.0   4,824,115,650
24        ORD  2006  36825097.0   4,415,852,850
25        ORD  2007  36521585.0   4,401,472,100
26        ORD  2008  33683991.0   4,206,916,900
27        ORD  2009  31135732.0   3,499,701,350
28        ORD  2010  32171831.0   4,895,940,100
29        ORD  2011  31892301.0   4,368,420,500
...       ...   ...         ...             ...
17108     OXR  2007     21369.0             NaN
17109     OXR  2008     15961.0             NaN
17110     OXR  2009     12060.0             NaN
17111     OXR  2010      4074.0             NaN
17112     OXR  2011         3.0             NaN
17113     OXR  2012          19             NaN
17114     OXR  2013          91             NaN
17115     OXR  2014          15             NaN
17116     DRT  2004         1.0             NaN
17117     DRT  2005     11094.0             NaN
17118     DRT  2006     16967.0             NaN
17119     DRT  2007     17651.0             NaN
17120     DRT  2008     16028.0             NaN
17121     DRT  2009     13436.0             NaN
17122     DRT  2010     13180.0             NaN
17123     DRT  2011      8438.0             NaN
17124     DRT  2012       11632             NaN
17125     DRT  2013        3288             NaN
17126     DRT  2014           0             NaN
17127     nan  2004         nan             nan
17128     nan  2005         nan             nan
17129     nan  2006         nan             nan
17130     nan  2007         nan             nan
17131     nan  2008         nan             nan
17132     nan  2009         nan             nan
17133     nan  2010         nan             nan
17134     nan  2011         nan             nan
17135     nan  2012         nan             nan
17136     nan  2013         nan             nan
17137     nan  2014         nan  39,200,462,405

[17138 rows x 4 columns]

In [111]:
print airport_operations_04_14_df.shape
airport_operations_04_14_df.head()

(6092, 4)

  Airport  year Itinerant Total Total Operations
0     ABE  2004          98,827          133,098
1     ABE  2005          90,413          126,232
2     ABE  2006          83,162          121,773
3     ABE  2007          75,504          120,565
4     ABE  2008          67,659          118,258

In [112]:
operations_passenger_cargo_year = airport_operations_04_14_df.merge(passenger_cargo_year, how='left',\
                                           left_on=['Airport', 'year'], right_on=['Airport', 'year'])
operations_passenger_cargo_year

     Airport  year Itinerant Total Total Operations passengers        cargo
0        ABE  2004          98,827          133,098   507203.0          NaN
1        ABE  2005          90,413          126,232   419122.0          NaN
2        ABE  2006          83,162          121,773   397603.0          NaN
3        ABE  2007          75,504          120,565   426687.0          NaN
4        ABE  2008          67,659          118,258   392039.0          NaN
5        ABE  2009          53,700          102,576   376091.0          NaN
6        ABE  2010          53,918           95,758   414427.0          NaN
7        ABE  2011          54,984           94,982   428332.0          NaN
8        ABE  2012          53,012           99,060     350066          NaN
9        ABE  2013          48,860          108,108     301969          NaN
10       ABE  2014          49,008          101,237    298,306          NaN
11       ABE  2015          43,154           88,084        NaN          NaN
12       ABI  2004          39,475           73,607    67773.0          NaN
13       ABI  2005          41,976           76,067    78269.0          NaN
14       ABI  2006          45,788           78,644    90918.0          NaN
15       ABI  2007          45,928           80,483    90369.0          NaN
16       ABI  2008          54,034           85,115    87682.0          NaN
17       ABI  2009          42,806           63,475    81172.0          NaN
18       ABI  2010          39,492           59,938    73605.0          NaN
19       ABI  2011          41,770           59,920    80434.0          NaN
20       ABI  2012          39,146           60,455      74523          NaN
21       ABI  2013          40,264           65,409      82758          NaN
22       ABI  2014          37,191           55,600     93,656          NaN
23       ABI  2015          34,090           54,638        NaN          NaN
24       ABQ  2004         186,632          197,657  3079172.0  622,552,578
25       ABQ  2005         185,444          196,699  3169861.0  648,927,044
26       ABQ  2006         180,363          192,241  3176299.0  656,929,174
27       ABQ  2007         182,325          190,780  3239096.0  677,554,390
28       ABQ  2008         173,462          180,553  3158971.0  629,630,968
29       ABQ  2009         149,666          158,529  2881798.0  579,793,842
...      ...   ...             ...              ...        ...          ...
6062     YIP  2010          40,097           68,007     3008.0  188,203,708
6063     YIP  2011          39,183           66,643     5407.0  246,739,675
6064     YIP  2012          40,785           73,890       9482  217,158,227
6065     YIP  2013          36,958           69,542       2527  162,380,193
6066     YIP  2014          36,314           64,176      3,854  194,188,703
6067     YIP  2015          33,812           59,402        NaN          NaN
6068     YKM  2004          30,236           47,791    54846.0          NaN
6069     YKM  2005          29,564           49,652    58094.0          NaN
6070     YKM  2006          27,688           45,482    57209.0          NaN
6071     YKM  2007          28,498           49,790    72016.0          NaN
6072     YKM  2008          26,667           48,980    69835.0          NaN
6073     YKM  2009          27,422           48,351    60028.0          NaN
6074     YKM  2010          25,908           45,905    53832.0          NaN
6075     YKM  2011          23,111           40,308    55902.0          NaN
6076     YKM  2012          23,406           37,341      57673          NaN
6077     YKM  2013          21,857           35,983      54308          NaN
6078     YKM  2014          20,521           32,340     57,076          NaN
6079     YKM  2015          21,616           36,769        NaN          NaN
6080     YNG  2004          34,588           71,870    21403.0          NaN
6081     YNG  2005          42,471           81,811     6934.0          NaN
6082     YNG  2006          40,311           77,130    12479.0          NaN
6083     YNG  2007          34,495           70,557    17572.0          NaN
6084     YNG  2008          26,397           60,845    17837.0          NaN
6085     YNG  2009          23,851           54,113    17391.0          NaN
6086     YNG  2010          21,885           44,889    27717.0          NaN
6087     YNG  2011          19,488           38,549    37048.0          NaN
6088     YNG  2012          19,764           39,120      40102          NaN
6089     YNG  2013          17,418           27,685      47518          NaN
6090     YNG  2014          17,283           26,207     65,983          NaN
6091     YNG  2015          17,456           25,093        NaN          NaN

[6092 rows x 6 columns]

In [121]:
Airport_operations_df.head()

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay
0,ABQ,2004,53971,53818,0.8030,0.7809,0.7921,10.38,9.89,2.43,12.10,2.46,0.83,2.55,10.87
1,ABQ,2005,51829,51877,0.8140,0.7922,0.8001,9.60,9.79,2.29,11.20,2.26,0.89,2.34,10.24
2,ABQ,2006,49682,51199,0.7983,0.7756,0.7746,10.84,9.89,2.16,12.33,2.12,0.84,2.66,11.82
3,ABQ,2007,53255,53611,0.8005,0.7704,0.7647,11.29,10.34,2.40,12.95,2.19,1.29,3.06,12.71
4,ABQ,2008,49589,49512,0.8103,0.7844,0.7875,10.79,10.41,2.41,12.32,1.82,1.03,2.79,11.48

In [122]:
airport_operations_df = Airport_operations_df.merge(operations_passenger_cargo_year, how='left',\
                                           left_on=['airport', 'year'], right_on=['Airport', 'year'])
airport_operations_df

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay,Airport,Itinerant Total,Total Operations,passengers,cargo
0,ABQ,2004,53971,53818,0.8030,0.7809,0.7921,10.38,9.89,2.43,12.10,2.46,0.83,2.55,10.87,ABQ,"186,632","197,657",3079172.0,"622,552,578"
1,ABQ,2005,51829,51877,0.8140,0.7922,0.8001,9.60,9.79,2.29,11.20,2.26,0.89,2.34,10.24,ABQ,"185,444","196,699",3169861.0,"648,927,044"
2,ABQ,2006,49682,51199,0.7983,0.7756,0.7746,10.84,9.89,2.16,12.33,2.12,0.84,2.66,11.82,ABQ,"180,363","192,241",3176299.0,"656,929,174"
3,ABQ,2007,53255,53611,0.8005,0.7704,0.7647,11.29,10.34,2.40,12.95,2.19,1.29,3.06,12.71,ABQ,"182,325","190,780",3239096.0,"677,554,390"
4,ABQ,2008,49589,49512,0.8103,0.7844,0.7875,10.79,10.41,2.41,12.32,1.82,1.03,2.79,11.48,ABQ,"173,462","180,553",3158971.0,"629,630,968"
5,ABQ,2009,42550,42704,0.8341,0.8147,0.8224,9.24,9.88,1.89,10.45,1.74,0.92,1.98,9.27,ABQ,"149,666","158,529",2881798.0,"579,793,842"
6,ABQ,2010,42302,42169,0.8144,0.7907,0.8047,10.25,9.95,2.05,11.58,1.66,0.95,1.90,10.23,ABQ,"144,680","156,616",2828420.0,"598,981,698"
7,ABQ,2011,42283,42297,0.8072,0.7758,0.8022,10.81,10.50,2.51,12.57,1.58,0.84,1.87,10.63,ABQ,"141,477","154,140",2768435.0,"593,136,032"
8,ABQ,2012,39105,39107,0.8219,0.7940,0.8177,10.55,10.27,2.32,12.11,1.41,0.98,1.80,9.73,ABQ,"136,064","147,724",2630574,"568,151,446"
9,ABQ,2013,35277,34989,0.7710,0.7402,0.7554,12.56,10.77,2.64,14.28,1.60,0.92,2.35,12.76,ABQ,"126,968","136,915",2477783,"567,236,072"
10,ABQ,2014,33292,33137,0.7451,0.7148,0.7320,14.30,10.64,2.41,15.99,1.73,1.02,2.40,14.72,ABQ,"124,909","130,069","2,354,184","569,465,958"
11,ANC,2004,16503,15511,0.7109,0.6770,0.6502,21.45,12.41,2.92,23.05,4.03,1.08,5.93,22.62,ANC,"302,512","309,460",2439969.0,"19,688,767,251"
12,ANC,2005,72043,67034,0.7394,0.7061,0.6955,18.36,12.19,2.78,19.97,3.65,1.01,4.96,19.35,ANC,"309,331","316,242",2430081.0,"20,727,877,604"
13,ANC,2006,75708,69995,0.7771,0.7455,0.7110,15.56,12.84,2.54,17.07,4.29,0.72,5.83,17.71,ANC,"295,658","303,108",2367390.0,"21,175,636,186"
14,ANC,2007,78741,73323,0.7838,0.7457,0.7196,15.69,13.19,2.29,17.52,5.13,0.39,5.87,18.09,ANC,"294,349","299,917",2617964.0,"21,124,325,138"
15,ANC,2008,76606,72479,0.7972,0.7698,0.7573,13.45,13.44,1.86,14.72,5.13,0.63,5.93,15.89,ANC,"275,233","280,525",2599313.0,"17,951,597,580"
16,ANC,2009,67252,63135,0.8112,0.7952,0.8264,15.10,12.49,1.55,15.88,3.85,0.31,4.19,15.95,ANC,"249,003","256,632",2282637.0,"15,524,360,013"
17,ANC,2010,73089,68125,0.7992,0.7760,0.8045,17.77,11.97,1.79,18.83,3.75,0.37,3.91,20.28,ANC,"268,605","274,778",2342310.0,"19,463,543,790"
18,ANC,2011,72556,66845,0.8276,0.8050,0.8292,14.56,11.89,1.66,15.60,3.92,0.55,4.01,13.93,ANC,"267,200","273,303",2354987.0,"17,774,071,223"
19,ANC,2012,70322,66453,0.8442,0.8235,0.8521,10.01,11.71,1.52,11.00,3.86,0.34,3.75,9.33,ANC,"262,274","270,997",2249717,"16,522,948,234"
20,ANC,2013,69984,65469,0.8432,0.8228,0.8631,9.18,12.03,1.51,10.09,3.40,0.47,3.82,8.46,ANC,"255,530","264,390",2325030,"15,982,410,652"
21,ANC,2014,71099,66704,0.8288,0.8074,0.8600,11.33,11.33,1.33,12.34,4.09,0.54,4.57,10.82,ANC,"265,537","277,011","2,381,826","15,867,941,046"
22,ATL,2004,477323,473249,0.7596,0.5757,0.7370,13.59,20.45,8.73,21.36,5.00,2.79,4.69,15.31,ATL,"964,793","964,793",41123857.0,"2,324,818,996"
23,ATL,2005,484570,480171,0.7413,0.6216,0.7337,15.50,18.52,7.26,21.80,4.24,2.72,4.62,17.23,ATL,"980,386","980,386",42402653.0,"2,027,135,114"
24,ATL,2006,483334,478735,0.7150,0.5324,0.7205,16.20,20.38,9.63,24.85,3.71,4.13,4.72,16.95,ATL,"976,447","976,447",41352038.0,"2,359,704,572"
25,ATL,2007,491826,486799,0.7167,0.5713,0.7446,16.77,19.67,8.28,24.18,3.88,4.17,4.43,16.09,ATL,"991,617","991,627",43236665.0,"2,522,600,500"
26,ATL,2008,482903,478627,0.7696,0.6071,0.7559,13.86,20.60,9.01,21.59,4.11,4.07,5.09,15.71,ATL,"978,084","978,084",43761280.0,"2,334,922,810"
27,ATL,2009,479957,475882,0.7775,0.5900,0.7335,13.20,21.84,9.73,21.48,3.31,4.75,5.70,16.54,ATL,"970,258","970,258",42280868.0,"2,555,242,350"
28,ATL,2010,469542,465911,0.7961,0.6405,0.7956,12.82,21.26,8.61,19.90,2.66,4.32,3.67,14.16,ATL,"950,119","950,119",43130585.0,"2,628,040,410"
29,ATL,2011,454954,453734,0.8008,0.6730,0.8068,12.20,20.33,7.52,18.25,2.41,4.00,3.54,12.56,ATL,"923,991","923,991",44414121.0,"2,655,614,700"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,TPA,2007,107523,107579,0.7903,0.7620,0.7542,12.55,12.03,2.78,14.49,2.19,0.89,3.51,14.26,TPA,"258,315","258,745",9306036.0,"478,840,685"
812,TPA,2008,100289,100528,0.7983,0.7684,0.7672,12.39,12.19,2.85,14.37,1.30,0.89,3.70,13.76,TPA,"237,885","238,258",8871917.0,"474,970,090"
813,TPA,2009,83888,84140,0.8154,0.7875,0.7965,10.86,12.05,2.59,12.64,1.08,0.74,3.00,11.51,TPA,"200,011","200,621",8263294.0,"318,581,850"
814,TPA,2010,82346,82582,0.8121,0.7775,0.7988,11.02,12.45,3.03,13.21,1.86,0.94,2.68,11.65,TPA,"194,864","195,705",8137222.0,"317,256,930"
815,TPA,2011,81837,81897,0.8296,0.8054,0.8044,10.60,11.93,2.42,12.19,1.66,0.75,2.53,11.51,TPA,"191,179","191,315",8174194.0,"314,706,228"
816,TPA,2012,80605,80523,0.8322,0.8096,0.8080,10.51,11.69,2.19,11.88,1.53,0.85,2.57,11.30,TPA,"187,921","188,295",8218487,"311,542,418"
817,TPA,2013,80603,79946,0.7997,0.7750,0.7774,11.90,11.86,2.36,13.39,1.63,0.87,3.00,12.66,TPA,"186,493","186,557",8267752,"374,054,404"
818,TPA,2014,79489,79173,0.7726,0.7454,0.7536,14.33,12.00,2.39,15.97,2.24,0.88,3.53,14.87,TPA,"184,016","184,038","8,531,561","395,335,682"
819,TUS,2004,7498,7501,0.7757,0.7586,0.7124,14.09,9.98,2.31,15.58,2.37,0.89,3.48,15.24,TUS,"158,601","253,295",1863790.0,"185,646,500"
820,TUS,2005,29803,29761,0.7868,0.7666,0.7493,11.53,9.87,2.15,12.89,2.42,0.79,2.38,12.86,TUS,"163,764","284,555",2050377.0,"228,599,300"
821,TUS,2006,29332,30490,0.8098,0.7793,0.7422,10.49,10.58,2.56,12.32,2.11,1.42,3.30,13.69,TUS,"163,452","270,473",2090514.0,"245,175,900"
822,TUS,2007,32136,32102,0.8152,0.7827,0.7412,10.62,11.10,2.82,12.41,2.26,1.08,3.30,13.94,TUS,"164,556","257,703",2178748.0,"235,766,450"
823,TUS,2008,30267,30337,0.8354,0.8086,0.7703,9.51,10.94,2.42,11.01,1.63,0.85,2.93,12.59,TUS,"149,895","211,144",2070573.0,"230,262,850"
824,TUS,2009,24475,24528,0.8507,0.8278,0.7965,8.41,10.70,2.17,9.71,1.82,0.79,2.67,10.73,TUS,"128,122","178,632",1795534.0,"162,668,750"
825,TUS,2010,24995,25088,0.8502,0.8293,0.7926,8.27,10.48,2.01,9.38,1.64,0.76,2.33,11.04,TUS,"123,815","164,859",1844228.0,"150,584,844"
826,TUS,2011,25149,25165,0.8458,0.8216,0.7795,8.76,11.06,2.58,10.17,1.47,0.80,2.57,11.77,TUS,"118,956","154,360",1779679.0,"149,719,444"
827,TUS,2012,23583,23679,0.8599,0.8336,0.7965,8.10,11.19,2.59,9.48,1.56,0.74,2.29,10.64,TUS,"110,959","145,111",1710649,"159,532,800"
828,TUS,2013,22502,22090,0.8145,0.7914,0.7628,10.55,11.43,2.43,11.96,1.67,0.70,2.48,12.76,TUS,"107,931","139,933",1569932,"159,362,254"
829,TUS,2014,22589,22340,0.7914,0.7715,0.7351,12.33,11.32,2.03,13.47,1.84,0.92,2.57,14.76,TUS,"105,024","137,897","1,597,247","154,876,980"
830,VNY,2004,1331,1301,0.2900,0.3178,0.3920,35.15,9.20,0.00,33.65,3.71,0.00,3.33,32.86,VNY,"313,942","448,702",518.0,nan
831,VNY,2005,5235,5169,0.2930,0.2835,0.3562,33.75,9.55,0.53,34.27,3.73,0.27,4.64,34.50,VNY,"296,035","411,317",1992.0,nan
832,VNY,2006,6142,6112,0.3097,0.3167,0.3724,32.83,10.33,0.05,32.34,3.32,0.00,3.81,32.30,VNY,"282,999","394,915",4772.0,nan
833,VNY,2007,6179,6349,0.2936,0.2921,0.3853,34.96,11.06,0.09,35.01,3.22,0.01,3.91,32.42,VNY,"264,949","374,464",2072.0,nan
834,VNY,2008,4282,4469,0.2756,0.2723,0.3571,34.45,11.24,0.16,34.63,4.86,0.00,5.21,34.18,VNY,"269,721","386,706",1312.0,nan
835,VNY,2009,2986,3005,0.2971,0.2954,0.3241,33.86,11.15,0.10,33.95,5.14,0.00,5.02,34.88,VNY,"237,038","351,233",1134.0,0
836,VNY,2010,3420,3500,0.3023,0.3018,0.3394,33.63,11.22,0.15,33.80,4.76,0.00,4.77,34.37,VNY,"213,545","311,311",432.0,"203,200"
837,VNY,2011,4134,4134,0.3474,0.3454,0.3752,30.96,11.17,0.12,31.12,4.69,0.00,4.59,30.91,VNY,"202,973","298,049",1018.0,"271,700"
838,VNY,2012,4753,4787,0.3909,0.3859,0.4299,28.50,11.20,0.14,28.81,3.57,0.00,3.84,28.42,VNY,"165,635","259,132",6058,"47,900"
839,VNY,2013,6096,6165,0.3924,0.3778,0.4513,28.61,11.48,0.40,29.53,2.15,0.00,2.91,27.79,VNY,"166,949","268,531",2104,"136,900"
840,VNY,2014,7412,7573,0.4014,0.3841,0.4507,28.87,11.70,0.40,29.96,2.92,0.00,3.89,28.97,VNY,"155,085","232,931",431,"422,000"

-----------------------------------------------------------------------------------------------------------------------
### *Save Airport Operations DataFrame*

In [125]:
airport_operations_df.to_csv('airport_operations_df.csv', sep=',')

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Passenger and Cargo (lbs) Ranking*

In [123]:
airport_passengers_ranking_df = Airport_passengers_04_14_df[['RO', 'ST','Locid','City','Airport Name',\
                                                           'Hub','04-14 Percentage','Total Enplanements']]
airport_passengers_ranking_df.rename(columns={'RO':'FAA Region',\
                                            '04-14 Percentage':'04-14 perc. enplanements'}, inplace=True)
airport_passengers_ranking_df = airport_passengers_ranking_df.drop(1557,axis=0)
print airport_passengers_ranking_df.shape
airport_passengers_ranking_df.head(20)

(1557, 8)

,FAA Region,ST,Locid,City,Airport Name,Hub,04-14 perc. enplanements,Total Enplanements
0,SO,GA,ATL,Atlanta,Hartsfield - Jackson Atlanta International,L,6%,"479,413,675"
1,WP,CA,LAX,Los Angeles,Los Angeles International,L,4%,"331,523,148"
2,GL,IL,ORD,Chicago,Chicago O'Hare International,L,5%,"373,383,745"
3,SW,TX,DFW,Fort Worth,Dallas-Fort Worth International,L,4%,"309,620,230"
4,EA,NY,JFK,New York,John F Kennedy International,L,3%,"252,052,440"
5,NM,CO,DEN,Denver,Denver International,L,3%,"264,655,008"
6,WP,CA,SFO,San Francisco International Airport,San Francisco International,L,3%,"206,971,826"
7,SO,NC,CLT,Charlotte,Charlotte/Douglas International,L,2%,"192,860,091"
8,WP,NV,LAS,Las Vegas,McCarran International,L,3%,"225,778,000"
9,WP,AZ,PHX,Phoenix,Phoenix Sky Harbor International,L,3%,"217,138,271"
10,SO,FL,MIA,Miami,Miami International,L,2%,"187,271,418"
11,SW,TX,IAH,Houston,George Bush Intercontinental/Houston,L,3%,"213,521,051"
12,NM,WA,SEA,Seattle,Seattle-Tacoma International,L,2%,"171,764,872"
13,SO,FL,MCO,Orlando,Orlando International,L,2%,"185,534,654"
14,EA,NJ,EWR,Newark,Newark Liberty International,L,2%,"188,261,162"
15,GL,MN,MSP,Minneapolis,Minneapolis-St Paul International/Wold-Chamber...,L,2%,"182,135,432"
16,NE,MA,BOS,Boston,General Edward Lawrence Logan International,L,2%,"151,042,031"
17,GL,MI,DTW,Detroit,Detroit Metropolitan Wayne County,L,2%,"180,234,816"
18,EA,PA,PHL,Philadelphia,Philadelphia International,L,2%,"164,782,270"
19,EA,NY,LGA,New York,Laguardia,L,2%,"137,151,434"